body{
  background-color: #292929;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
}
header{
  display: inline-flex;
  margin-right: -5rem;
  border-bottom: 1px solid black;
  width: 100%;
}
header img{
  width: 25rem;
  margin-bottom: -3rem;
  margin-left: 3rem;
  margin-top: 2rem;
  height: 15rem;
}
header nav{
  margin-top: 10rem;
  margin-left: 20rem;
}
header li{
  display: inline-block;
  font-size: 2rem;
  margin-right: 2.5rem;
  font-family: 'Lexend Mega', sans-serif;
}
header a{
  text-decoration: none;
  color: white;
}
header a:hover{
  color: white;
  background-color: black;
  padding: 1rem;
  border-radius: 7px;
}
body h1{
  margin-top: 13rem;
  margin-left: 5rem;
  color: white;
  font-size: 3rem;
}
body div{
  margin-left: 5rem;
}
body h2{
  font-size: 5rem;
  margin-left: 80rem;
}
article h2:hover{
  text-decoration: line-through;
  text-decoration-color: black;
}
.web{
  font-size: 10rem;
}
.developer{
  font-size: 10rem;
}
.iam{
  font-size: 2.5rem;
}
article div p{
  margin-left: 70rem;
  margin-bottom: 10rem;
  font-size: 2rem;
}
section{
  background-color: white;
  color: black;
}
section h2{
  margin-left: 5rem;
}
section p{
  display: flex;
  margin-left: 5rem;
  margin-right: 75rem;
  font-size: 2rem;
  margin-top: -1rem;
}
section h2:hover{
  text-decoration: line-through;
  text-decoration-color: white;
}
